@use "../utils/mixins";
@use "../utils/vars";

.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 288px;
  height: 56px;
  margin: 290px auto 104px;
  border: 2px solid vars.$color-button;
  border-radius: 32px;

  font-size: 16px;
  font-weight: 500;
  color: vars.$color-button;
  text-transform: uppercase;

  background-color: vars.$color-blue;

  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;

  &:disabled {
    cursor: not-allowed;
    border-color: vars.$color-disabled-text;
    color: vars.$color-disabled-text;
    background-color: transparent;
  }

  &:hover:not(:disabled) {
    border-color: vars.$color-button;
    color: vars.$color-blue;
    background-color: vars.$color-button;
  }

  &:focus:not(:disabled) {
    border-color: vars.$color-dark-red;
    color: vars.$color-blue;
    background-color: vars.$color-dark-red;
  }

  &__content {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  @include mixins.on-tablet {
    width: 326px;
    margin: 210px auto 228px;
  }

  @include mixins.on-desktop {
    width: 288px;
    height: 56px;
    margin: 64px 0;
  }

  &__icon {
    &--default {
      display: block;
    }

    &--hover {
      display: none;
    }
  }

  &:disabled &__icon {
    &--default {
      display: block;
    }

    &--hover {
      display: none;
    }
  }

  &:is(:hover, :focus):not(:disabled) &__icon {
    &--default {
      display: none;
    }

    &--hover {
      display: block;
    }
  }

  &__order {
    display: flex;
    align-items: center;

    margin: 16px 0 0;

    color: vars.$color-button;
    text-transform: uppercase;
  }
}
