@use "../utils/mixins";

.main {
  @include mixins.on-desktop {
    padding: 154px 0 0;
  }

  &__content {
    display: grid;
  }
}

.container {
  @include mixins.content-padding-inline;

  @include mixins.on-desktop {
    padding: 0 44px;
  }

  @include mixins.on-large-desktop {
    padding: 0 124px;
  }
}
